<!-- NavBar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center me-4" href="#">
      <img
        src="assets/122.jpg"
        width="50"
        height="50"
        class="rounded-circle me-2"
      />
      <span class="fw-bold fs-4">CafeeVe</span>
    </a>

    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
        >
          Menu
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="getItem()">All</a></li>
          <li>
            <a class="dropdown-item" (click)="filterMenuType('beverages')"
              >Beverages</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="filterMenuType('snacks')"
              >Snacks</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="filterMenuType('desserts')"
              >Desserts</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="1"
        [(ngModel)]="isVeg"
        [ngStyle]="{ 'background-color': isVeg ? 'green' : '' }"
        (change)="filterVeg()"
      />
      <label class="form-check-label text-yellow-500">Veg</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="2"
        [(ngModel)]="isNonVeg"
        [ngStyle]="{ 'background-color': isNonVeg ? 'red' : '' }"
        (change)="filterVeg()"
      />
      <label class="form-check-label text-yellow-500">Non-Veg</label>
    </div>

    <div class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search food name"
        [(ngModel)]="searchF"
      />
      <button class="btn btn-warning" (click)="searchItem()">Search</button>
    </div>
  </div>
</nav>
<hr />

<!--    Card    -->

<p>menu works!</p>
<div class="container-fluid col-auto">
  <div class="row align-items-start">
    <div
      class="card"
      style="width: 18rem"
      *ngFor="let items of filteredData; let i = index"
    >
      <img src="{{ items.photo }}" class="card-img-top" alt="image" />
      <div class="card-body">
        <p>
          <b>Id:{{ items.id }}</b>
        </p>
        <h5 class="card-title">
          <b>{{ items.name }}</b>
        </h5>
        <p><b>Menutype:</b>{{ items.menutype }}</p>
        <p><b>Category:</b> {{ items.category == 1 ? "veg" : "Non-veg" }}</p>
        <p><b>Price:</b>{{ items.price }}</p>
        <a class="btn btn-dark">Add to Cart</a>
        <a class="btn btn-dark" (click)="deleteItem(items.id)">Delete</a>
        <a class="btn btn-dark" (click)="editItem(items.id)">Edit</a>
      </div>
    </div>
  </div>
</div>
<hr />

<!-- Form  -->

<p>Form</p>
<div class="container mt-4">
  <div class="row justify-content">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4">
      <div class="card bg-dark text-light shadow p-4">
        <h4 class="text-center mb-3">Add Menu Item</h4>

        <form [formGroup]="myForm">
          <div class="mb-3">
            <label class="form-label">Id</label>
            <input
              type="text"
              class="form-control bg-dark text-light border-secondary"
              formControlName="id"
              placeholder="Enter Id"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Image</label>
            <input
              type="file"
              class="form-control bg-dark text-light border-secondary"
              formControlName="photo"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Food Name</label>
            <input
              type="text"
              class="form-control bg-dark text-light border-secondary"
              formControlName="name"
              placeholder="Enter Food Name"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Price</label>
            <input
              type="number"
              class="form-control bg-dark text-light border-secondary"
              formControlName="price"
              placeholder="Enter Price"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Menu Type</label>
            <select
              class="form-select bg-dark text-light border-secondary"
              formControlName="menutype"
            >
              <option value="">Select Menu Type</option>
              <option value="beverages">Beverages</option>
              <option value="snacks">Snacks</option>
              <option value="dessert">Desserts</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Category</label>

            <div class="d-flex gap-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="category"
                  value="1"
                />
                <label class="form-check-label">Veg</label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="category"
                  value="2"
                />
                <label class="form-check-label">Nonveg</label>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button type="button" class="btn btn-light" (click)="addItem()">
              Add Item
            </button>
            <button type="button" class="btn btn-light" (click)="updateItem()">
              Update Item
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
